﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Series </title>
</head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/Module.js"></script>
<script src="Scripts/Factory.js"></script>
<script src="Scripts/Service.js"></script>
<script src="Scripts/Controller.js"></script>
<body>
    <div ng-app="SeriesModule" ng-controller="SeriesController" class="container" style="align-self:center;width:100% !important">
        <h2>Display Series</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Enter Series Limits :-</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="SeriesLimit" class="form-control" />
                    
                </div>
            </div>

               
                <br />


            <div class="form-group">
                <label class="control-label col-sm-2">Enter Series Divisbleby :-</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="Divisibleby" class="form-control" />

                </div>
            </div>

                <br />

            <div class="form-group">
                <label class="control-label col-sm-2">Enter Series Position :-</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="Position" class="form-control" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Output :-</label>

                <div class="col-sm-10">
                   
                    <p class="form-control-static" ng-model="result">{{result}}</p>

                </div>
            </div>

               
               <br />

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                     <input type="button" value="Submit" ng-click="FetchSeries()" class="btn btn-default" /><br />
                </div>
            </div>

            <div class="alert alert-danger">
                <strong>
                    <span ng-hide="Message=='Successful'">{{ Message}}</span>
                </strong>
            </div>
           
           

                <div class="form-group" style="width: 100% !important; height:300px;overflow-x:scroll;overflow-y:scroll" ng-show="Message=='Successful'">
                    <table cellspacing="2" cellpadding="2" class="table">
                        <tbody>
                            <tr>
                                <th class="thclass">
                                    Series
                                </th>
                            </tr>
                            <tr data-ng-repeat="series in SericesList track by $index">
                                <td>
                                    {{series}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

</div>
        </form>
        </div>
</body>
</html>